@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable CSS */
:root{
  --pink: #ffc0cb;
  --black: black;
  --grey: #494949;
  --white: white;
}

.light-theme{
  --bg: var(--pink);
  --bg-button: var(--black);
  --text-button: var(--white);
  --text: var(--black);
  --text-secondary: var(--grey);
  --button-theme: none;
}

.dark-theme{
  --bg: var(--grey);
  --bg-button: var(--pink);
  --text-button: var(--black);
  --text: var(--white);
  --text-secondary: var(--white);
  --button-theme: invert(100%);
}

body{
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-out ;
}

.wrapper{
  width: 900px;
  height: 100vh;
  margin: 0 auto;
}

/* NAVBAR */
.navbar{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.logo{
  font-weight: bold;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.menu-item{
  margin-left: 16px
}

/* HERO */
.hero{
  width: 60%;
}

.hero-text{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 120%;
}

.hero-description{
  color: var(--text-secondary);
  margin-bottom: 28px;
}

button{
  background-color: var(--bg-button);
  color: var(--text-button);
  padding: 8px 16px;
  border: none;
}

button#toggle-theme{
  background-color: transparent;
}

button#toggle-theme img{
  width: 40px;
  filter: var(--button-theme)
}

.hamburger-menu{
  display: none;
}

.hamburger-menu img{
  width: 40px;
}

@media (max-width: 992px){
  .wrapper{
    width: 100%;
    padding: 0 24px;
  }
}

@media (max-width: 576px){
  .hero{
    width: 100%;
  }

  .hamburger-menu{
    display: block;
  }
  
  .navbar-right{
    display: none;
  }
}

